* {
    font-family: sans-serif;
}

button {
    border: none;
    margin-left: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgb(0, 68, 255);
    font-size: larger;
    color: white;

}

.selected {
    border: none;
    margin-left: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: yellow;
    font-size: larger;
    color: black;
}