* {
    font-family: sans-serif;
}

button {
    border: none;
    margin-right: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgb(0, 68, 255);
    font-size: larger;
    color: white;


}

.HTML {
    background-color: red;
}

.CSS {
    background-color: rgb(0, 68, 255);
}

.JavaScript {
    background-color: orange;
}

.NodeJs {
    background-color: rgb(0, 255, 251);
}

.Express {
    background-color: blueviolet;
}

.ReactJS {
    background-color: rgb(0, 254, 13);
}

.selected {
    border: none;
    margin-right: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: yellow;
    font-size: larger;
    color: black;
}

.cardTitle {
    font-weight: bold;
    padding: 1rem 0;
    font-size: 2rem;
}

.card {
    padding: 1rem 2rem;
    border: 2px solid #ededed;
    margin-top: 2rem;
    border-radius: 1rem;
}


.hide {
    display: none;
}